body{
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    height: 75px;
    width:auto;
    padding-bottom: 20px;
    font-family: blauth;
    background-size:cover;
}
#nav2{
    position: relative;
    text-align: center;
    color: white;
}
#logo{
    float:left;
    margin-left: 50px;
    width: 200px;
    height: 75px;
    background-color: #DEE1EC;
    padding: 10px;
    border-radius: 10px;
}
#logo:hover{
    scale:105%
}
#banner{
    padding:0px;
    margin: 0 auto;
    width:100%;
    max-height:800px;
    object-fit: cover;
    z-index: -1;
    opacity: 100%;
}

ul{
    z-index: 1;
    position: absolute;
    list-style-type: none;
    float:left;
}
li{
    padding-top: 30px;
    display: inline-block;
}
.current {
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-left: 300px;
}
li a{
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D4287;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background-color: #DEE1EC;
    border-radius: 5px;
}

li a:hover{
    color: #FFA500;
}