body{
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    height: 75px;
    width:auto;
    padding-bottom: 20px;
    font-family: blauth;
    background-size:cover;
}
#nav2{
    position: relative;
    text-align: center;
    color: white;
}
#logo{
    float:left;
    margin-left: 50px;
    width: 200px;
    height: 75px;
}
#logo:hover{
    scale:115%
}
#banner{
    padding:0px;
    margin: 0 auto;
    width:100%;
    max-height:800px;
    object-fit: cover;
    z-index: -1;
    opacity: 100%;
}

ul{
    z-index: 1;
    position: absolute;
    list-style-type: none;
    float:left;
}
li{
    display: inline-block;
}
.current {
    text-decoration: underline;
    text-underline-offset: 6px;
    padding-left: 300px;
}
li a{
    margin-top: 50px;
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 27px;
    padding-bottom: 50px;
}

li a:hover{
    color: #38a5b6;
}