@font-face {
    font-family: blauth;
    src: url();
}

body{
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    height: 75px;
    width:auto;
    background-color: #DEE1EC;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: blauth;
}

nav img{
    float:left;
    margin-left: 50px;
    width: 200px;
    height: 75px;
    padding-bottom: 20px;
}
nav img:hover{
    scale:105%
}

ul{
    list-style-type: none;
    float:left;
}
li{
    display: inline-block;
}
.current {
    text-decoration: underline;
    text-underline-offset: 6px;
    padding-left: 320px;
}
li a{
    padding-top: 20px;
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D4287;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 50px;
}

li a:hover{
    color: #FFA500;
}