
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
#page_container{
    width: 1500px;
    margin: 0 auto;
}
header img{        
    float:left;
    margin-left: 50px;
    width: 200px;
    height: 75px;
    padding-bottom: 20px;
    padding-top: 10px;
}
header img:hover{
    scale:105%
}
section{
    border-top: 15px solid #0D4287;
    border-bottom: 20px solid #B1D2FD;
    background-color: #DEE1EC;
    margin: 0 auto;
    padding: 0 auto;
}
#banner img{
    padding:0px;
    margin: 0 auto;
    width:100%;
    max-height:800px;
    object-fit: cover;
    opacity: 100%;
}
#banner{
    position: relative;
    text-align: center;
    color: white;
}
#banner h1{
    color: white;
    position: absolute;
    top: 250px;
    font-size: 50px;
    left: 70px;
    text-decoration: underline;
    text-underline-offset: 15px;
}
#banner h2{
    position: absolute;
    color: white;
    top:350px;
    left: 100px;
}
#main img{
    padding: 0px;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3.5px 0px;
}
#button_flex_1{
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
    padding-top: 100px;
}
#button_flex_2{
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
}
nav{
    height: 75px;
    width:1500px;
    background-color: #DEE1EC;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: blauth;
}
.nav_ul{
    list-style-type: none;
    float:left;
}
.nav_ul li{
    display: inline-block;
}
#current {
    text-decoration: 2.5px underline;
    text-underline-offset: 6px;
    padding-left: 200px;
}
.nav_ul li a{
    padding-top: 20px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D4287;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 50px;
}
.nav_ul  li a:hover{
    color: #FFA500;
}
#main hr{
    transform: rotate(90deg);
    height: 200px;
    background-color: #0D4287;
    width: 1000px;
    position: relative;
    z-index: 1;
    margin-left: -20px;
}
#socials{
    color: white;
    text-decoration: underline;
}
#menu{
    padding-left: 625px ;
}
footer {
    display: flex;
    flex-direction: row;
    background-color: #0D4287;
}

footer ul {
    list-style-type: none;
    line-height: 50px;
}

footer li a:hover{
    color: #FFA500;
    text-decoration: underline;
}
footer li a{
    text-decoration: none;
    color: white;
}
#flex{
    display: flex;
    flex-direction: row;
}
#flex img{
    width: 40px;
}
#socials_header{
    text-align: center;
    margin-left: 0px;
}
