
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}
#page_container{
    width: 1500px;
    margin: 0 auto;
}

header img{        
    float:left;
    margin-left: 50px;
    width: 200px;
    height: 75px;
    padding-bottom: 20px;
    padding-top: 10px;
}
header img:hover{
    scale:105%
}
section{
    border-top: 7px solid #0D4287;
    border-bottom: 7px solid #B1D2FD;
    height: 400px;
    background-color: #DEE1EC;
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    height: 75px;
    width:1500px;
    background-color: #DEE1EC;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: blauth;
}
.nav_ul{
    list-style-type: none;
    float:left;
}
.nav_ul li{
    display: inline-block;
}
#current {
    text-decoration: 2.5px underline;
    text-underline-offset: 6px;
    padding-left: 200px;
}
.nav_ul li a{
    padding-top: 20px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D4287;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 50px;
}
.nav_ul  li a:hover{
    color: #FFA500;
}
#socials{
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #0D4287;
}

footer ul {
    list-style-type: none;
    line-height: 30px;
}

footer li a:hover{
    color: #FFA500;
    text-decoration: underline;
}
footer li a{
    text-decoration: none;
    color: white;
}
#flex{
    display: flex;
    flex-direction: row;
}
